<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WSNorthwindSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.dais-w-02.somee.com/WSNorthWind.asmx"
                binding="basicHttpBinding" bindingConfiguration="WSNorthwindSoap"
                contract="NorthWindReferences1.WSNorthwindSoap" name="WSNorthwindSoap" />
        </client>
    </system.serviceModel>
</configuration>